.nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;
    background-color: white;
    border-bottom: 1px solid gray;
}

button.top{
    background-color: #dc3545;
    width: 150px;
    height: 50px; 
    color: white;
    font-size: 20px;
    border: 1px solid #dc3545 ;
    margin-top: 20px;
}

.top-words{
    font-size: 30px;
}
